
        body {
            margin: 0px;
            background-color: #f4f4f9;
           
        }

        .subject-list-container {
            width: 100%;
            max-width: 800px; /* स्क्रीन पर बेहतर दिखने के लिए थोड़ी लिमिट */
            margin: 5px auto;
            background-color: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

        .main-heading {
            color: #6a0dad;
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 15px;
            border-bottom: 3px solid #6a0dad;
            padding-bottom: 5px;
        }

        .subject-item {
            display: flex;
            justify-content: space-between;
            align-items: left;
            padding: 5px 0;
            border-bottom: 1px solid #eee;
        }

        .subject-item:last-child {
            border-bottom: none;
        }

        .subject-name {
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }

        .mock-test-button {
            background-color: #476b6b;
            color: white !important;
            border: none;
            padding: 3px 3px;
            border-radius: 4px; /* हल्का सा घुमाव */
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            transition: background-color 0.3s;
            text-decoration: none;
        }

        .mock-test-button:hover {
            background-color: #0056b3;
        }

        .play-icon {
            font-size: 14px;
            margin-right: 8px;
        }
    
